body {
  background-image: url("/background.png");
}

*{
  margin: 0;
}

.titulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background: linear-gradient(-45deg, #566573 , #566573 , #17202A,
  #17202A, #566573 , #566573 );
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 4vw;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: animacion_texto 6s ease-in-out infinite;
  -webkit-animation: animacion_texto 6s ease-in-out infinite;
}

@keyframes animacion_texto {
  0%{
      background-position: 0px 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0px 50%;
  }
}

.tinder {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
  text-align: center;
}

.candidato {
  grid-column: 1fr;
}

.dog1 {
  grid-column: 1fr;
}

.dog2 {
  grid-column: 1fr;
}

@media (max-width: 768px) {

  .tinder {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
  }

  .candidato {
    grid-column: 1/4;
  }

  .dog1 {
    grid-column: 1/2;
  }

  .dog2 {
    grid-column: 3/4;
  }

}

.tinder h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.dog1 {
  overflow: auto;
  max-height: 100vh;
}

.dog2 {
  overflow: auto;
  max-height: 100vh;
}